/* 
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
*/

:root {
  --color-white: #ffffff;
  --color-black: #0b0d17;
  --color-light-purple: #d0d6f9;
  --color-black-quarter: rgba(0, 0, 0, 0.25);
  --color-white-quarter: rgba(255, 255, 255, 0.25);
  --color-white-one-tenth: rgba(255, 255, 255, 0.1);

  --font-body-text: "Barlow", sans-serif;
  --font-heading: "Bellefair", serif;
  --font-heading-condensed: "Barlow Condensed", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  color: var(--color-white);
  font-family: var(--font-body-text);
  line-height: 1;
  background: url("/assets/home/background-home-desktop.jpg");
  background-size: cover !important;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  body {
    background: url("/assets/home/background-home-tablet.jpg");
  }
}

@media (max-width: 480px) {
  body {
    background: url("/assets/home/background-home-mobile.jpg");
  }
}

/* Body BG - Destination */

body.destination {
  background: url("/assets/destination/background-destination-desktop.jpg");
}

@media (max-width: 768px) {
  body.destination {
    background: url("/assets/destination/background-destination-tablet.jpg");
  }
}

@media (max-width: 480px) {
  body.destination {
    background: url("/assets/destination/background-destination-mobile.jpg");
  }
}

/* Body BG - Crew */

body.crew {
  background: url("/assets/crew/background-crew-desktop.jpg");
}

@media (max-width: 768px) {
  body.crew {
    background: url("/assets/crew/background-crew-tablet.jpg");
  }
}

@media (max-width: 480px) {
  body.crew {
    background: url("/assets/crew/background-crew-mobile.jpg");
  }
}

/* Body BG - Technology */

body.technology {
  background: url("/assets/technology/background-technology-desktop.jpg");
}

@media (max-width: 768px) {
  body.technology {
    background: url("/assets/technology/background-technology-tablet.jpg");
  }
}

@media (max-width: 480px) {
  body.technology {
    background: url("/assets/technology/background-technology-mobile.jpg");
  }
}

strong {
  font-weight: 700;
}

a:link,
a:visited {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 9.375rem;
  line-height: 172px;
}

h2 {
  font-size: 6.25rem;
  line-height: 115px;
}

h3 {
  font-size: 3.5rem;
  line-height: 64px;
}

h4 {
  font-size: 2rem;
  line-height: 37px;
}

h5 {
  color: var(--color-light-purple);
  font-size: 1.75rem;
  font-family: var(--font-heading-condensed);
  letter-spacing: 4.75px;
  line-height: 34px;
}

@media (max-width: 768px) {
  h1 {
    line-height: 150px;
  }

  h2 {
    font-size: 5rem;
    line-height: 92px;
  }

  h3 {
    font-size: 2.5rem;
    line-height: 46px;
  }

  h4 {
    font-size: 1.5rem;
    line-height: 28px;
  }

  h5 {
    font-size: 1.25rem;
    letter-spacing: 3.38px;
    line-height: 24px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 5rem;
    line-height: 100px;
  }

  h2 {
    font-size: 3.5rem;
    line-height: 64px;
  }

  h3 {
    font-size: 1.5rem;
    line-height: 28px;
  }

  h4 {
    font-size: 1rem;
    line-height: 18px;
  }

  h5 {
    font-size: 1rem;
    letter-spacing: 2.7px;
    line-height: 19px;
  }
}

p {
  color: var(--color-light-purple);
  font-size: 1.125rem;
  line-height: 32px;
  text-transform: none;
}

@media (max-width: 768px) {
  p {
    font-size: 1rem;
    line-height: 28px;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 15px;
    line-height: 25px;
  }
}

.sub-heading-1,
.sub-heading-2 {
  text-transform: unset;
  line-height: unset;
}

.sub-heading-1 {
  font-size: 1.75rem;
  font-family: var(--font-heading);
}

.sub-heading-2 {
  font-size: 0.875rem;
  font-family: var(--font-heading-condensed);
  letter-spacing: 2.35px;
}

.nav-text {
  color: var(--color-white);
  font-size: 1rem;
  font-family: var(--font-heading-condensed);
  letter-spacing: 2.7px;
}

.nav-text:hover {
  border-bottom: 3px solid rgba(255, 255, 255, 0.5);
}

.nav-text:active,
.nav-text.active {
  border-bottom: 3px solid rgb(255, 255, 255);
}

/* Utility Classes */

.mb-24 {
  margin-bottom: 1.5rem !important;
}

@media (max-width: 480px) {
  .mb-24 {
    margin-bottom: 1rem !important;
  }
}

/* Landing Page - Content */
.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.align-home {
  padding: 11.625rem 10.25rem 7.125rem;
  row-gap: 8rem;
}

@media (max-width: 768px) {
  .container {
    text-align: center;
  }

  .align-home {
    padding: 6.5rem 0 5.625rem;
  }
}

@media (max-width: 480px) {
  .align-home {
    padding: 3rem 1.5rem 0;
    row-gap: 5rem;
  }
}

@media (max-width: 768px) {
  .col {
    width: 100%;
    text-align: -webkit-center;
  }
}

.col-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@media (max-width: 768px) {
  .col-flex {
    align-items: center;
  }
}

.description {
  max-width: 27.75rem;
  word-wrap: break-word;
}

.content-home {
  width: min-content;
}

@media (max-width: 768px) {
  .carousel-content.content-home {
    width: unset;
  }
}

@media (max-width: 480px) {
  .content-home {
    width: unset;
  }
}

.btn-wrapper-main {
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
}

@media (max-width: 768px) {
  .btn-wrapper-main {
    justify-content: center;
  }
}

/* Other Pages */
.page-title {
  margin: 4.75rem 0 4rem 10.375rem;
  text-align: left;
  color: var(--color-white);
}

@media (max-width: 768px) {
  .page-title {
    margin: 2.5rem 0 3.75rem 2.375rem;
  }
}

@media (max-width: 480px) {
  .page-title {
    margin: 1.5rem 0 2rem;
    text-align: center;
  }
}

.page-title strong {
  margin-right: 1.75rem;
  opacity: 0.25;
}

@media (max-width: 768px) {
  .page-title strong {
    margin-right: 1.125rem;
  }
}

/* Destination Page */
.align-page-destination {
  padding: 0 10.25rem 7.375rem 10.375rem;
  row-gap: 5rem;
}

@media (max-width: 768px) {
  .align-page-destination {
    padding: 0 6.125rem 3.875rem;
    gap: 3.25rem;
  }
}

@media (max-width: 480px) {
  .align-page-destination {
    padding: 0 1.5rem 3.625rem;
    gap: 1.625rem;
  }
}

/* Crew Page */
@media (min-width: 769px) {
  .page-title.crew {
    margin-bottom: 0;
  }
}

.align-page-crew {
  padding: 0 8.5rem 0 10.375rem;
  align-items: flex-end;
}

@media (max-width: 768px) {
  .align-page-crew {
    padding: 0 5.5rem;
    row-gap: 2.5rem;
  }
}

@media (max-width: 480px) {
  .align-page-crew {
    padding: 0 1.5rem;
    flex-direction: column-reverse;
  }

  .align-page-crew .col:first-child {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 2rem;
  }
}

/* Technology Page */

.page-title.technology {
  margin-bottom: 0;
}

.align-page-technology {
  padding: 1.625rem 0 6.25rem 10.375rem;
  align-items: center;
  row-gap: 3.5rem;
}

@media (max-width: 768px) {
  .align-page-technology {
    flex-direction: column-reverse;
    padding: 3.75rem 0 6rem;
  }
}

@media (max-width: 480px) {
  .align-page-technology {
    padding: 2rem 0 5rem;
  }
}

/* Buttons */

.btn {
  text-transform: uppercase;
  cursor: pointer;
  border: unset;
  transition: all 0.3s;
}

.btn-round {
  border-radius: 50%;
  font-size: 2rem;
  font-family: var(--font-heading);
  letter-spacing: 2px;
}

.btn-main {
  width: 15rem;
  height: 15rem;
  color: var(--color-black);
  background-color: var(--color-white);
}

.btn-main:hover {
  box-shadow: 0 0 0 5.5rem var(--color-white-one-tenth);
}

@media (max-width: 480px) {
  .btn-main {
    width: 9.375rem;
    height: 9.375rem;
    font-size: 1.25rem;
    letter-spacing: 1.25px;
  }
}

.btn-tab {
  background-color: unset;
  border-bottom: 3px solid transparent;
  padding-bottom: 0.75rem;
  color: var(--color-light-purple);
  transition-duration: 50ms;
  transition-timing-function: linear;
}

.btn-tab:active,
.btn-tab.active {
  color: var(--color-white);
}

@media (max-width: 480px) {
  .btn-tab {
    padding-bottom: 0.5rem;
  }
}

.btn-dot {
  width: 0.9375rem;
  height: 0.9375rem;
  border-radius: 50%;
  background-color: var(--color-white);
  opacity: 0.17;
}

@media (max-width: 768px) {
  .btn-dot {
    width: 0.625rem;
    height: 0.625rem;
  }
}

.btn-dot:hover {
  opacity: 0.5;
}

.btn-dot:active,
.btn-dot.active {
  opacity: unset;
}

.btn-carousel2 {
  width: 5rem;
  height: 5rem;
  border: 1px solid var(--color-white-quarter);
  color: var(--color-white);
  background-color: var(--color-black-quarter);
}

.btn-carousel2:hover {
  border-color: var(--color-white);
}

.btn-carousel2:active {
  border-color: var(--color-white);
  background-color: var(--color-white);
  color: var(--color-black);
}

.btn-carousel2.active {
  border-color: var(--color-white);
  background-color: var(--color-white);
  color: var(--color-black);
}

@media (max-width: 768px) {
  .btn-carousel2 {
    width: 3.75rem;
    height: 3.75rem;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
  }
}

@media (max-width: 480px) {
  .btn-carousel2 {
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1rem;
    letter-spacing: 1px;
  }
}

/* Header */

.header {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: space-between;
  padding-top: 2.5rem;
  padding-left: 3.4rem;
}

@media (max-width: 768px) {
  .header {
    padding-top: 0;
    padding-left: 2.5rem;
  }
}

@media (max-width: 480px) {
  .header {
    padding: 1.5rem 1.5rem 0;
  }
}

.header-divider {
  height: 1px;
  width: 100%;
  margin-left: 4rem;
  margin-right: -2rem;
  background-color: var(--color-white);
  opacity: 0.25;
  z-index: 1;
}

@media (max-width: 768px) {
  .header-divider {
    display: none;
  }
}

/* Navigation */

.nav {
  padding: 2.5rem 10rem 2.5rem 7.5rem;
  background-color: rgba(255, 255, 255, 0.04);
  backdrop-filter: blur(81.55px);
}

@media (max-width: 768px) {
  .nav {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}

@media (max-width: 480px) {
  .nav {
    display: none;
    position: absolute;
    height: 100vh;
    padding: 7.375rem 0 0 2rem;
    top: -1.5rem;
    right: 0;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
  }

  .nav.open {
    display: unset;
    z-index: 1;
    transform: translateX(0);
  }
}

.nav-list {
  list-style: none;
  display: flex;
  gap: 3.125rem;
  text-wrap: nowrap;
}

@media (max-width: 768px) {
  .nav-list {
    gap: 2.25rem;
  }
}

@media (max-width: 480px) {
  .nav-list {
    gap: 1.5rem;
    flex-direction: column;
  }
}

.nav .nav-text {
  padding-bottom: calc(2.5rem - 5px);
}

@media (max-width: 480px) {
  .nav .nav-text.active {
    border-bottom: none;
    border-right: 3px solid rgb(255, 255, 255);
  }
}

@media (max-width: 768px) {
  .nav .nav-text {
    font-size: 0.875rem;
  }

  .nav .nav-text strong {
    display: none;
  }
}

@media (max-width: 480px) {
  .nav .nav-text {
    display: block;
    font-size: 1rem;
    padding: 0.375rem 6rem 0.375rem 0;
  }

  .nav .nav-text strong {
    display: unset;
  }
}

/* Hamburger Menu */

.btn-hamburger {
  display: none;
}

@media (max-width: 480px) {
  .btn-hamburger {
    display: unset;
    background-color: transparent;
    line-height: 0;
    z-index: 2;
  }
}

/* Variant - 1 */

.carousel-content {
  min-height: 22rem;
}

@media (max-width: 768px) {
  .carousel-content {
    min-height: 11.375rem;
  }
}

.carousel-subtitle {
  opacity: 0.5;
  margin-top: 3.75rem;
  margin-bottom: 0.875rem;
}

@media (max-width: 768px) {
  .carousel-subtitle {
    margin-top: unset;
    margin-bottom: 0.5rem;
  }
}

.carousel-title {
  text-wrap: nowrap;
  margin-bottom: 1.625rem;
}

@media (max-width: 768px) {
  .carousel-subtitle {
    margin-bottom: 1rem;
  }
}

@media (max-width: 768px) {
  .carousel-description {
    margin-bottom: 2.5rem;
    max-width: unset;
  }
}

@media (max-width: 480px) {
  .carousel-description {
    margin-bottom: 6.5rem;
  }
}

.dots {
  display: inline-flex;
  gap: 1.5rem;
  margin-bottom: 5.75rem;
}

@media (max-width: 768px) {
  .dots {
    gap: 1rem;
    margin-bottom: unset;
  }
}

.carousel-image-wrapper {
  height: 35rem;
}

@media (max-width: 768px) {
  .carousel-image-wrapper {
    height: 32.25rem;
  }
}

@media (max-width: 480px) {
  .carousel-image-wrapper {
    padding: 0 4.75rem;
    height: 13.875rem;
    border-bottom: 1px solid #383b4b;
  }
}

.carousel-image {
  height: 100%;
}

@media (max-width: 480px) {
  .carousel-image {
    margin-bottom: -1.5px;
  }
}

/* Variant - 2 */

.carousel2-content-wrapper {
  display: flex;
  gap: 5rem;
}

@media (max-width: 768px) {
  .carousel2-content-wrapper {
    flex-direction: column;
    gap: 2.75rem;
  }
}

@media (max-width: 480px) {
  .carousel2-content-wrapper {
    gap: 1.625rem;
    padding: 0 1.5rem;
  }
}

.btn-wrapper-carousel2 {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

@media (max-width: 768px) {
  .btn-wrapper-carousel2 {
    flex-direction: unset;
    gap: 1rem;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .carousel2-content {
    padding: 0 1.5rem;
  }
}

.nav-text.carousel2-subtitle {
  color: var(--color-light-purple);
  text-transform: uppercase;
  line-height: unset;
  margin-bottom: 0.75rem;
}

.nav-text.carousel2-subtitle:hover {
  border-bottom: unset;
}

@media (max-width: 768px) {
  .nav-text.carousel2-subtitle {
    margin-bottom: 1rem;
  }
}

.carousel2-title {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .carousel2-title {
    margin-bottom: 1rem;
  }
}

.carousel2-image-landscape {
  display: none;
}

@media (max-width: 768px) {
  .carousel2-image-landscape {
    display: unset;
    width: 100%;
  }

  .carousel2-image-portrait {
    display: none;
  }
}

/* Destination Page - Tabs */
.tab-image-wrapper {
  padding: 2.125rem 0 0 4rem;
}

@media (max-width: 768px) {
  .tab-image-wrapper {
    padding: unset;
  }

  .tab-image {
    width: 18.75rem;
  }
}

@media (max-width: 480px) {
  .tab-image {
    width: 10.625rem;
  }
}

.tabs {
  display: inline-flex;
  column-gap: 2.1875rem;
  margin-bottom: 2.25rem;
}

@media (max-width: 768px) {
  .tabs {
    margin-bottom: 2rem;
  }
}

@media (max-width: 480px) {
  .tabs {
    column-gap: 1.625rem;
    margin-bottom: 1.25rem;
  }
}

.tab-title {
  margin-bottom: 0.875rem;
}

@media (max-width: 768px) {
  .tab-title {
    margin-bottom: 0.5rem;
  }
}

.tab-description {
  padding-bottom: 3.375rem;
  border-bottom: 1px solid #383b4b;
  margin-bottom: 1.75rem;
}

@media (max-width: 768px) {
  .tab-description {
    padding-bottom: 3rem;
  }
}

@media (max-width: 480px) {
  .tab-description {
    padding-bottom: 2rem;
    margin-bottom: 2rem;
  }
}

.tab-stats {
  display: flex;
  gap: 5rem;
}

@media (max-width: 768px) {
  .tab-stats {
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .tab-stats {
    flex-direction: column;
    gap: 2rem;
  }
}

.stat-group {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.75rem;
}

@media (max-width: 768px) {
  .stat-group {
    align-items: center;
  }
}
