:root {
  --color-white: #ffffff;
  --color-black: #0b0d17;
  --color-light-purple: #d0d6f9;

  --font-body-text: "Barlow", sans-serif;
  --font-heading: "Bellefair", serif;
  --font-heading-condensed: "Barlow Condensed", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  color: var(--color-white);
  background-color: var(--color-black);
  font-family: var(--font-body-text);
  line-height: 1;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 9.375rem;
}

h2 {
  font-size: 6.25rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  color: var(--color-light-purple);
  font-size: 1.75rem;
  font-family: var(--font-heading-condensed);
  letter-spacing: 4.75px;
}

.sub-heading-1 {
  font-size: 1.75rem;
  font-family: var(--font-heading);
}

.sub-heading-2 {
  font-size: 0.875rem;
  font-family: var(--font-heading-condensed);
  letter-spacing: 2.35px;
}

.nav-text {
  font-size: 1rem;
  font-family: var(--font-heading-condensed);
  letter-spacing: 2.7px;
}
