/* 
  SPACING SYSTEM (px)
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
  FONT SIZE SYSTEM (px)
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 
*/

:root {
  --color-white: #ffffff;
  --color-black: #0b0d17;
  --color-light-purple: #d0d6f9;

  --font-body-text: "Barlow", sans-serif;
  --font-heading: "Bellefair", serif;
  --font-heading-condensed: "Barlow Condensed", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-weight: 400;
}

body {
  color: var(--color-white);
  font-family: var(--font-body-text);
  line-height: 1;
  background: url("./assets/home/background-home-desktop.jpg");
  background-size: cover !important;
  text-transform: uppercase;
}

@media (max-width: 768px) {
  body {
    background: url("./assets/home/background-home-tablet.jpg");
  }
}

@media (max-width: 480px) {
  body {
    background: url("./assets/home/background-home-mobile.jpg");
  }
}

strong {
  font-weight: 700;
}

a:link,
a:visited {
  text-decoration: none;
  color: var(--color-white);
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
}

h1 {
  font-size: 9.375rem;
}

h2 {
  font-size: 6.25rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 2rem;
}

h5 {
  color: var(--color-light-purple);
  font-size: 1.75rem;
  font-family: var(--font-heading-condensed);
  letter-spacing: 4.75px;
}

@media (max-width: 768px) {
  h5 {
    font-size: 1.25rem;
    letter-spacing: 3.38px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 5rem;
    line-height: 100px;
  }

  h5 {
    font-size: 1rem;
    letter-spacing: 2.7px;
  }
}

p {
  color: var(--color-light-purple);
  font-size: 1.125rem;
  line-height: 32px;
  text-transform: none;
}

.sub-heading-1,
.sub-heading-2 {
  text-transform: unset;
}

.sub-heading-1 {
  font-size: 1.75rem;
  font-family: var(--font-heading);
}

.sub-heading-2 {
  font-size: 0.875rem;
  font-family: var(--font-heading-condensed);
  letter-spacing: 2.35px;
}

@media (max-width: 768px) {
  p {
    font-size: 1rem;
    line-height: 28px;
  }
}

@media (max-width: 480px) {
  p {
    font-size: 15px;
    line-height: 25px;
  }
}

.nav-text {
  font-size: 1rem;
  font-family: var(--font-heading-condensed);
  letter-spacing: 2.7px;
}

/* Utility Classes */

.mb-24 {
  margin-bottom: 1.5rem !important;
}

@media (max-width: 480px) {
  .mb-24 {
    margin-bottom: 1rem !important;
  }
}

/* Buttons */

.btn {
  text-transform: uppercase;
}

.btn-main {
  width: 15rem;
  height: 15rem;
  border: unset;
  border-radius: 50%;
  color: var(--color-black);
  font-size: 2rem;
  font-family: var(--font-heading);
  letter-spacing: 2px;
}

@media (max-width: 480px) {
  .btn-main {
    width: 9.375rem;
    height: 9.375rem;
    font-size: 1.25rem;
    letter-spacing: 1.25px;
  }
}

/* Landing Page - Content */
.container {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  row-gap: 8rem;
}

.align-home {
  padding: 15.625rem 10.25rem 8.125rem;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .container {
    padding: 6.5rem 0 5.625rem;
    text-align: center;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 3rem 1.5rem 0;
    row-gap: 5rem;
  }
}

@media (max-width: 768px) {
  .col {
    width: 100%;
    text-align: -webkit-center;
  }
}

.content-home {
  width: min-content;
}

@media (max-width: 480px) {
  .content-home {
    width: unset;
  }
}

.btn-wrapper {
  height: 100%;
  display: flex;
  align-items: end;
  justify-content: end;
}

@media (max-width: 768px) {
  .btn-wrapper {
    justify-content: center;
  }
}

/* Other Pages */
.align-page {
  padding: 4.75rem 0 0 10.375rem;
}

@media (max-width: 768px) {
  .align-page {
    padding: 2.5rem 0 0 0;
  }
}

@media (max-width: 480px) {
  .align-page {
    padding: 1.5rem 0 0 0;
  }
}

/* Destination Page */
.align-page-destination {
  padding-right: 10.25rem;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .align-page-destination {
    padding-right: unset;
  }
}

.w-40 {
  width: 40%;
}

@media (max-width: 992px) {
  .w-40 {
    width: unset;
  }
}
